/* ===== About us ===== */

.about-us
  centered(910px)
  .right
    float right
  .left
    float left

.hello {
    text-align: center;
}

.manifesto {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: normal;
}

.manifesto > p {
    margin-right: 40px;
}

.super {
    font-size: 1.5em;
}

.team-tick {
    float: left;
}
.team h2 {
    font-size: 5em;
    line-height: 1;
    margin: 0;
}
.tick {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    font-size: 1.25em;
}

.founder-image {
    float: right;
}
@media all and (max-width: 1030px) {
  .founder-image {
    width: 330px;
    height: 313px;
  }
}

.half {
    width: 50%;
}

.team-members
  &> div
    margin-right 8px
    float left
    width 174px
    height 330px
    .last
      margin-right 0

.team-members img {
    width: 174px;
}
.team-members h3 { font-size: 1.5em; margin: 3px 0; text-align: center;}
.team-members h4 { font-size: 1em; text-align: center; margin: 3px 0; }
.team-members p { font-size: 0.95em; }