//////////////////////////////////////////////////////////////
//    register
//////////////////////////////////////////////////////////////

.create-customer
  centered(300px)

//////////////////////////////////////////////////////////////
//    Log in
//////////////////////////////////////////////////////////////

.log-in-page
  centered(320px)

.log-in-page
  .box
    width 320px - 4 * 10px - 2px
    h2
      margin 0 0
      text-align center
    float left
    border 1px solid silver
    padding 10px
    margin 10px

.form-row
  margin 0 0 5px 0
  label
    float left
    width 30%
  input
    float right
    width 65%
    padding 3px

@media screen and (min-width: 640px)
  .log-in-page.show_guest_login
    width 640px

.errors
  padding 5px
  margin-bottom 10px
  background-color #F5B3B3
  ul
    list-style square

/* =================
 * Customer Accounts
 * ================= */

/* >> manage orders and addresses */

.customer_address {
  text-transform: capitalize;
}
.post-code {
  text-transform: uppercase;
}

#customer_orders{
  width: 75%;
  float: left;
}
#customer_sidebar{
  float: right;
  width: 20%;
}
.address p,
.view_address p{ margin: 0; }

#view_address{
  border-top: solid 1px gray;
  padding: 10px 0 0 0;
  margin-top: 10px;
  display: block;
}

.address_actions{ float: right; }
.address_actions .action_edit{
  border-right: solid 1px gray;
  padding-right: 10px;
}

.action_top{  margin: 0 0 20px 0; }

.action_edit,
.action_delete,
.action_add{
  display: inline-block;
}

.default_address{
  color: gray;
}
.address_table,
#add_address{
  border: dotted 1px gray;
  padding: 10px;
  margin: 0 0 20px 0;
}
.address_table .label,
#add_address .label{
  width: 125px;
  padding-left: 0;
}
.address_table h4{
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
}
.customer_address_table{ margin: 0; }
.customer_address_table td{ border: none; }
.customer_address_table input{ margin: 0 5px 0 0; }
.customer_address .action-bottom{ margin-left: 141px; }

#add_address_title {
  margin-top: 0.1em;
}

/** >> view individual orders */
.order_date{
  border-bottom: solid 1px gray;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
}

#order_address{
  overflow: hidden; height: 1%;
  margin: 0 0 20px 0;
}
#order_address #order_payment,
#order_address #order_shipping{
  float: left;
  width: 46%;
  margin-right: 2%;
}


/* ===== customer orders ===== */

#customer_orders table {
  text-align: center;
  margin-top: 20px;
}

#order_details thead, #customer_orders thead {
  border-bottom: 2px solid #9E9E9E;
}

#order_details tr, #customer_orders tr {
  border-bottom: 1px dashed #BBBBBB;
}

#order_details td, #order_details th, #customer_orders td, #customer_orders th {
  padding: 0.5em 0.8em;
}