/////////////////////////////////////////////////////////////
//   new blog
/////////////////////////////////////////////////////////////

.news-blog,
.blog-article
  centered(96%)
  max-width 600px

.blog-article-list
  list-style none
  padding 0
  .blog-article
    width 100%

.blog-article-date
  font-size 0.9em
  margin 1em 0 0.2em 0
  color accentColour

.blog-article-title-outter
  font-size 1.4em
  line-height 1.1em
  margin 0 0 0.5em 0
  a
    invisibleLink()

.blog-read-more
  display block
  margin-top 0.4em
  invisibleLink()
  color lighten(nearBlack, 30%)

.blog-content
  padding 0
  list-style none

.blog-article .main-title a
  invisibleLink()