/* =====================
   ======= PRESS =======
   ===================== */

.press-items
  text-align center
  hr
    centered(90%)
    max-width 400px
    margin-top 0.6em
  header
    .date
      margin-top 0.5em
    a
      display inline-block
      padding 0.5em