/* =====================
   ====== PRODUCT ======
   ===================== */

.product-details
  .product-title
    line-height 1em
    margin 0.1em 0 0.3em 0
    font-size 1.2em
    text-align center

.product-title-big
  display none

.product-details
  margin 0 auto
  width 96%

.main-image
  position relative

.pinterest-in-image
  position absolute
  right 10px
  bottom 5px
  z-index 100

.product-images-copy
  min-height 540px

.product-images-thumbs a
    float left
    margin 0 4px 4px 0

.product-images
  width 324px
  margin 0 auto

.product-copy
  font-size 1.1em
  max-width 520px
  margin 0 auto

.size-and-cart-button
  clearfix()

.accordion-designer-title
  invisibleLink()
  h3
    font-size 1.5em
    margin 0 0

@media screen and (min-width: 746px)
  .size-select
    float none
    margin-bottom 12px
  .product-title-small
    display none
  .product-details
    .product-title-big
      display block
      text-align left
      margin-bottom 0
  .product-details
    width 726px
  .main-image
    float left
    width 324px
  .product-images-thumbs
    float left
    width 48px + 4px // 52px = 48px (thumb width) + 4px (margin-right)
  .product-images
    float left
    width 52px + 324px + 10px // 52px (see above) + 324 (main-image) + 10 (gutter)
  .product-copy
    float right
    width 726px - 386px

@media screen and (min-width: 820px)
  .product-details
    width 780px
  .product-copy
    width 780px - 386px - 10px

@media screen and (min-width: 960px)
  .product-details
    width 920px
  .product-copy
    width 920px - 386px - 30px

.cart-button
  headerText()
  font-size 1.2em
  padding 0.4em 0.8em

/* ===== Product form ===== */

.size-select {
  font-size: 0.9em;
  margin-bottom: 10px;
  float: left;
}

.variant-input {
    display: none;
}
.variant-label {
  display: inline-block;
  text-align: center;
  border: 1px solid black;
  padding: 1px 6px;
  margin-right: 4px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.variant-label:hover {
  background-color: #E6E6E6;
}
.variant-selected {
    background-color: black;
    color: white;
}
.variant-selected:hover {
  background-color: #001309;
}

.cart-button-wrap {
  float: right;
  margin: 0 0 10px 0;
}

//////////////////////////////////////////////////////////////////////
//    Social sharing
//////////////////////////////////////////////////////////////////////

#sharing {
    padding: 10px 0 0 0;
}
#sharing ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
#sharing li {
    margin: 0;
    float: left;
}