/* ===== cart update ===== */

.cart-update
  text-align: left;
  font-size: 11px;
  font-family smallFont
  padding: 4px;
  z-index: cartUpdateZindex;
  display: none;
  border: 1px solid veryLightGrayBorder;
  background-color: veryLightGray;
  position: fixed;
  top: 25px;
  right: 0;
  .inner
    padding 10px
    background-color white

.cart-update-button {
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: block;
}
.cart-update .success-message {
  margin: 0 0 10px 0;
}
.cart-update h3 {
  margin: 0;
  font-size: 14px;
}
.cart-update h4 {
  margin: 0;
  font-size: 12px;
}
.cart-update-details {
  width: 243px;
  float: right;
}
#cart-update-image {
  float: left;
}