/* ===== Grapevine reviews ===== */

.gvproduct, .gvbadge, .gvcontainer, .gvreview, .gvform, .gvform textarea, .gvform input { font-family: "nimbus-sans", "Helvetica Neue", sans-serif }

.gvbadge {
  display: inline-block;
  height: 15px;
}
/* product review container */
.gvcontainer .gvheader { padding:0; }

/* review */
.gvreview { padding:10px 10px 0 0; }

.gvfooter { display: none; }
.gvreview_foot { display: none; }

.review-badge-wrap {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.gvcontainer .gvheader h1 {
  font-size: 1.2em;
}
.accordion .gvreview {
  border: none;
  padding: 0;
}
.accordion a.gvstar {
  display: inline-block !important;
}
.accordion .gvreview_body p {
  margin: 0;
}
.accordion .gvheader {
  border-bottom: none;
}

#reviews-badge
  invisibleLink()